{% extends 'base.html.twig' %}
{% block titre %}
<title>ProStages | Accueil</title>
{% endblock %}

  {% block body %}


<p>Le site ProStages vous permets de consulter en ligne des stages proposés par des entreprises.</p>

  {% endblock %}
